body {
  font-size: 1rem;
  font-weight: 600;
  min-height: 100%;
  color: #404040;
}

/* sun theme */
body, header, footer {
  background-color: #f6f6f6;
}

/* moon theme */
body, header, footer {
  background-color: #f6f6f6;
}

header, main {
  max-width: 800px !important;
  margin: auto !important;
}

footer {
  min-height: 48px;
}

/* balise universelle */
a, a:hover {
  text-decoration: none;
}

textarea {
  min-height: 75px;
  height: 100px;
}



.nav-scroll {
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.container {
  max-width: 800px !important;
}

.article-list {
  padding: 1rem 0;
  margin: 0 -1rem;
}


/*@media screen and (max-width: 740px) {
  header nav {
    font-size: 1.25rem !important;
  }

  body {
    font-size: 1rem !important;
  }

  h1 {
    font-size: 1.75rem !important;
  }

  h2 {
    font-size: 1.55rem !important;
  }

  h3 {
    font-size: 1.35rem !important;
  }

  .media .text-secondary {
    font-size: 0.8rem !important;
  }

  #article-content {
    font-size: 1rem !important;
  }

  #contact form,
  form .col-4 {
    max-width: 100% !important;
  }

  footer .nav-link div {
    display: none;
  }

  .each-lead {
    display: none;
  }

  .each-title {
    font-size: 1.2rem !important;
    line-height: 2.5rem;
  }

  .each-date {
    font-size: 0.9rem !important;
    width: 100%;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  #navbarCollapse {
    background-color: #f2f2f2;
    text-align: center;
  }

  h1 {
    font-size: 1rem !important;
  }
}*/

.media-body .row {
  margin: 0 !important;
}

.text-dark-blue {
  color: #4e4e4d !important;
  text-decoration: none !important;
}

.article {
  color: #4e4e4d !important;
  display: grid;
  align-items: center;
  font-weight: 600;
  padding: 1rem 0 1rem 0;
  max-height: 84px !important;
}

a.each-title:hover {
  color: #5183f5;
}
